{% extends 'base.html.twig' %}

{% block title %}Sell Car{% endblock %}


{% block body %}
    <div class="container">
        <div class="row">
                            {% for message in app.flashes('notice') %}
            <div class="alert alert-success">
                    <div class="flash-notice">
                        {{ message }}
                    </div>
            </div>
                {% endfor %}

            <div class="col-md-3"> &nbsp;</div>
            <div class="col-md-6">
                <hr class="my-5">
                <div class="p-4 alert alert-light shadow">
                    {{ form(carMakeForm) }}
                </div>
            </div>
            <div class="col-md-3"> &nbsp;</div>
        </div>

    </div>
{% endblock %}
