{% extends 'base.html.twig' %}

{% block title %} Carselb | Cars {% endblock %}

{%  block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('cars') }}
{% endblock %}

{% block body %}
    <main id="content" role="main">
        <div class="my-3">
            &nbsp;
        </div>
        <!-- Card Grid -->
        <div class="container content-space-t-1 content-space-t-md-2 content-space-b-2 content-space-b-lg-3">
            <div class="row">
                <div class="col-lg-3">
                    {% include 'car/sidebar.html.twig' %}
                </div>
                <!-- End Col -->

                <div class="col-lg-9">
                    <!-- search form on list page -->
                    <form action="{{  path('app_car_list_results') }}" class=" w-100 row mb-5 ">

                        <!-- Select -->
                        <div class="mb-2 col-sm-3">
                            <select class="form-select form-select-sm">
                                <option value="alphabeticalOrderSelect1" selected="">Chevrolet</option>
                                <option value="alphabeticalOrderSelect2">Audi</option>
                            </select>
                        </div>
                        <!-- End Select -->
                        <!-- Select -->
                        <div class="mb-2 col-sm-3">
                            <select class="form-select form-select-sm">
                                <option value="kampala" selected="">Kampala</option>
                                <option value="jinja">Jinja</option>
                            </select>
                        </div>
                        <!-- End Select -->

                        <!-- Search -->
                        <div class="mb-2 col-sm-3">
                            <div class="input-group input-group-sm">
                                <input type="text" name="q" class="form-control"  placeholder="keywords">
                            </div>
                        </div>
                        <!-- End Search -->

                        <!-- Search button -->
                        <div class="mb-2 col-sm-3">
                            <button style="background: #5DBEA3" class="btn btn-sm text-white" type="submit"> <i class="bi bi-search"></i> Search By </button>
                        </div>
                        <!-- End Search -->
                    </form>
                    <!-- End Row -->
                    <!-- nav for search results number and toggle list and grid view -->

                    <div class="row align-items mb-3">
                        <div class="col-sm-auto">
                            <div class="d-sm-flex justify-content-sm-end align-items-center">
                                <!-- Nav -->
                                <ul class="nav nav-segment">
                                    <li class="nav-item">
                                        <a class="nav-link active" href="#">
                                            <i class="bi-grid-fill"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                        <a class="nav-link" href="#">
                                            <i class="bi-list"></i>
                                        </a>
                                    </li>
                                    <li class="nav-item">
                                       <a class="nav-link text-decoration-none text-secondary" href="#">  <i class="bi-car-front"></i> {{ cars | length }} + results </a>
                                    </li>
                                </ul>
                                <!-- End Nav -->
                            </div>
                        </div>
                    </div>
                    <!-- Catalog -->
                    {% include 'car/catalog.html.twig' %}
                    <!-- End Catalog -->

                </div>
                <!-- End Col -->
            </div>
            <!-- End Row -->
        </div>
        <!-- End Card Grid -->

        <!-- Subscribe -->
    <div class="bg-light">
        <div class="container content-space-2">
            <div class="w-md-75 w-lg-50 text-center mx-md-auto">
                <div class="row justify-content-lg-between">
                    <!-- Heading -->
                    <div class="mb-5">
                        <span class="text-cap">Subscribe</span>
                        <h2>Get the latest from Front</h2>
                    </div>
                    <!-- End Heading -->

                    <form>
                        <!-- Input Card -->
                        <div class="input-card input-card-pill input-card-sm border mb-3">
                            <div class="input-card-form">
                                <label for="subscribeForm" class="form-label visually-hidden">Enter email</label>
                                <input type="text" class="form-control form-control-lg" id="subscribeForm" placeholder="Enter email" aria-label="Enter email">
                            </div>
                            <button type="button" class="btn btn-primary btn-lg rounded-pill">Subscribe</button>
                        </div>
                        <!-- End Input Card -->
                    </form>

                    <p class="small">You can unsubscribe at any time. Read our <a href="#">privacy policy</a></p>
                </div>
            </div>
        </div>
    </div>
    <!-- End Subscribe -->

    <!-- Clients -->
    <div class="container content-space-2">
        <div class="row">
            <div class="col text-center py-3">
                <img class="avatar avatar-lg avatar-4x3" src="../assets/svg/brands/hollister-dark.svg" alt="Logo">
            </div>
            <!-- End Col -->

            <div class="col text-center py-3">
                <img class="avatar avatar-lg avatar-4x3" src="../assets/svg/brands/levis-dark.svg" alt="Logo">
            </div>
            <!-- End Col -->

            <div class="col text-center py-3">
                <img class="avatar avatar-lg avatar-4x3" src="../assets/svg/brands/new-balance-dark.svg" alt="Logo">
            </div>
            <!-- End Col -->

            <div class="col text-center py-3">
                <img class="avatar avatar-lg avatar-4x3" src="../assets/svg/brands/puma-dark.svg" alt="Logo">
            </div>
            <!-- End Col -->

            <div class="col text-center py-3">
                <img class="avatar avatar-lg avatar-4x3" src="../assets/svg/brands/nike-dark.svg" alt="Logo">
            </div>
            <!-- End Col -->

            <div class="col text-center py-3">
                <img class="avatar avatar-lg avatar-4x3" src="../assets/svg/brands/tnf-dark.svg" alt="Logo">
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
    <!-- End Clients -->
</main>

{% endblock %}